@import "../../styles/scss/colors.scss";
@import "../../styles/scss/utils.scss";

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.myTopShadow {
  box-shadow: 0px -4px 12px 0px rgba(237, 238, 238, 0.8);
}

.myButton{
  border-radius: 20px;
  border-color: $app-grey;
  border-style: none;
  background-color: $app-grey;
  font-size: 10px;
  font-weight: bold;
  color: white;
  padding: 10px 10px 10px 20px;
  width: 130px;
}
.myButton:focus{
  outline: 0;
}
.myButton:hover{
  color: $app-black;
}
