@import "../../styles/scss/colors.scss";

$animate: all 0.2s ease-in-out;

span.myLink {
  margin-left: 5px;
  margin-right: 5px;
  font-family: Lato-Black;
  font-size: 14px;
  color: $app-grey;
  background: none;
  border: none;
  cursor: pointer;
}

span.myActive {
  border: none;
  color: $app-yellow;
}

span.middleUnderline {
  position: relative;
}
span.middleUnderline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -4px;
  left: 0;
  background-color: $app-yellow;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
span.middleUnderline:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
